.authentication-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 50px;
  max-width: 1200px;
  justify-content: space-between;
  justify-items: center;
  margin-top: 30px auto;


  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}